---
---
@import '../bourbon/bourbon';
@import 'variables';
@import 'mixins';
@import 'layout';

//--

@include MQ(L) {
  body.new-color-1::before {
    background-color: $color-4;
  }

  body.new-color-2::before {
    background-color: $color-5;
  }

  body.new-color-3::before {
    background-color: $color-6;
  }
}

.cd-container {
  width: 90%;
  max-width: $L; 
  margin: 0 auto;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

body::before, body::after {
  content: '';
  position: fixed;
  /* trick to remove some annoying flickering on webkit browsers */
  width: 89.8%;
  max-width: $L;
  @include center(x);
  height: 50%;
  z-index: -1;
}

body::before {
  top: 0;
  background-color: $color-3;
  @include transition(all .8s);
}

body::after {
  top: 50%;
  background-color: $color-2;
}


.cd-service {
  position: relative;
  z-index: 2;
  min-height: $icon-small-height;
  margin-left: $icon-small-width;
  background-color: $color-1;
  padding: 1em 1em 4em;

  &::before, &::after {
    content: '';
    position: absolute;
    width: $icon-small-width;
    right: 100%;
    z-index: 2;
  }
  
  &::before {
    top: 0;
    height: $icon-small-height;
    background-repeat: no-repeat;
  }

  &::after {
    top: $icon-small-height;
    bottom: 0;
    background-image: url('../img/cd-pattern-small.svg');
    background-repeat: repeat-y;
  }

  &.cd-service-divider::after {
    top: 0;
  }

  &.cd-service-divider:last-child {
    display: none;
  }

  &.cd-service-1::before {
    background-image: url('../img/cd-icon-1-large-alt.svg');
    border-bottom: 7px solid $color-1;
  }

  &.cd-service-2::before {
    background-image: url('../img/cd-icon-1-small.svg');
    border-right: 1px solid $color-1;
    border-bottom: 1px solid $color-1;
  }

  &.cd-service-3::before {
    background-image: url('../img/cd-icon-3-large-alt.svg');
    border-bottom: 7px solid $color-1;
  }
  
  &.cd-service-4::before {
    background-image: url('../img/cd-icon-4-large-alt.svg');
    border-bottom: 7px solid $color-1;
  }

  &.cd-service-5:before {
    background-image: url('../img/cd-icon-5-large.svg');
    border-bottom: 7px solid $color-1;
  }


  h2 {
    text-transform: uppercase;
    color: $color-7;
    font-weight: bold;
    margin-bottom: 1em;
    font-family: $secondary-font;
  }

  p {
    @include font-size(18px);
    line-height: 1.4;
    color: rgba($color-7, .5);

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  @include MQ(L) {
    min-height: $icon-large-height + 200px;
    margin-left: $icon-large-width;
    padding: 6em 2em;

    &::before, &::after {
      width: $icon-large-width;
    }

    &::before {
      height: $icon-large-height;
    }

    &::after {
      top: $icon-large-height;
      background-image: url('../img/cd-pattern-large.svg');
    }

    &.cd-service-divider:first-child, &.cd-service-divider:last-child {
      min-height: 50px;
      padding: 0;
    }

    &.cd-service-divider:last-child {
      display: block;
    }

    &.cd-service-1::before {
      background-image: url('../img/cd-icon-1-large-alt.svg');
      border: none;
    }

    &.cd-service-2::before {
      background-image: url('../img/cd-icon-2-large-alt.svg');
      border: none;
    }

    &.cd-service-3::before {
      background-image: url('../img/cd-icon-3-large-alt.svg');
      border: none;
    }
    
    &.cd-service-4::before {
      background-image: url('../img/cd-icon-4-large-alt.svg');
      border: none;
    }

    &.cd-service-5::before {
      background-image: url('../img/cd-icon-5-large.svg');
      border: none;
    }

    h2, p {
      color: $color-2;
      @include transition(color, .5s);

      .underline {
        text-decoration: underline;
      }
    }

    h2 {
      @include font-size(50px);
    }

    p {
      @include font-size(25px);
      line-height: 1.4;
    }

    &.focus h2 {
      color: $color-7;
    }

    &.focus p {
      color: $color-7;
    }
  }
}