---
---
@import '../bourbon/bourbon';
@import 'variables';
@import 'mixins';
@import 'layout';

//--

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 100%;
		family: $primary-font;
	}
	color: $color-2;
	background-color: $color-1;
}

html, body {
	height: 100%;
}

nav {
	background-color: $color-1;
	width: 100%;
	text-align: right;

	.icon-wrapper {
		max-width: $L;
		text-align: right;
		margin-right: 100px;
	}
}

header {
	position: relative;
	height: 50%;
	min-height: 480px;
	background-color: $color-1;
	z-index: 2;

	.header-wrapper {
		position: absolute;
		@include center;
		width: 90%;
		max-width: $M - 60;
		text-align: left;

		.underline {
			text-decoration: underline;
		}
	}

	h1 {
		@include MQ(L) {
			@include font-size(90px);
		}

		@includeMQ(M) {
			@include font-size(90px);
		}

		a {
			color: inherit;
		}

		color: $color-7;
		@include font-size(70px);
		font-weight: bold;

		&.inline {
			display: inline;
			text-decoration: inherit;
		}

		&.color-two {
			color: $color-8;
		}

		&.color-three {
			color: $color-9;
		}

		&.color-four {
			color: $color-10;
		}
	}

	p {
		display: inline;
	}

}