@import '../bourbon/bourbon';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/layout';

.projects-wrapper {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include MQ(L) {
    width: 80%;
    max-width: 1080px;
  }

  @include MQ(M) {
    width: 90%;
  }

  @include MQ(S) {
    width: 90%;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h2 {
    @include font-size(40px);
    color: $color-7;
    padding: 15px;
  }
}

.ind-project {
  color: $color-7;
}