<footer>
  <div class="footer-container">
    <img src="../img/alex-nacho-bw.png">
<!--     <h3>About Me</h3> -->
    <p>
    <span id="about-heading">About Me</span>
    I'm a web developer who enjoys problem solving and meeting exciting people. I also like writing, Tai chi, and eating nachos. I am currently looking to join a team of engineers who get to solve cool problems. If you think I might be good candidate for a team you know about, or you would just like to talk about something that excites you, send me an <a href="mailto:realalexhomer@gmail.com">email</a> or a <a href="https://twitter.com/alex__homer">tweet</a>!
    </p>
  </div>
</footer>