$color-1: #eef3f5; // background
$color-2: #dee8ec; // pre-focus color
$color-3: #c32121; // first slide color
$color-4: #21c3c3; // second slide
$color-5: #ffff66; // third
$color-6: #21C321; // fourth
$color-7: #131c21; // very dark blue (main font color)
$color-8: #6693a5; // color two (dark) in header
$color-9: #a4bfc9; // color three (light) in header
$color-10: #476a78; //color four in header

$primary-font: 'Fira Sans', sans-serif;
$secondary-font: 'Fira Sans', sans-serif;

$icon-small-height: 50px;
$icon-small-width: 56px;
$icon-large-height: 325px;
$icon-large-width: 420px;